.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  opacity: 0;
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 55vh;
  width: 100%;
  background: linear-gradient(transparent, 80%, rgb(46, 53, 72)), url('/river.jpg') 0px 70%/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
  animation: 1s ease 1 forwards fadein;
}

.footer {
  opacity: 0;
  position: absolute;
  bottom: 0;
  margin-top: auto;
  height: 10vh;
  width: 100%;
  background: linear-gradient(to top, transparent, 80%, rgb(46, 53, 72)), url('/river.jpg') 0px 80%/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s ease 1 forwards fadein;
}

.pageTitle {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}

.splash {
  opacity: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    60%,
    rgba(0, 0, 0, 0.3)
  ), url('/river.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 2s ease 1 forwards fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  opacity: 0;
  width: 100%;
  padding: 2rem 0 10vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 2s ease 0.3s 1 forwards fadein;
}

.title {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: 2.0;
  font-size: 3rem;
}

.title > * {
  padding: 15px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.navButton {
  font-size: 1rem;
  margin: 0.7rem;
  padding: 1rem 2.5rem;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 2rem;
  transition: color 0.15s ease, border-color 0.15s ease, background-color 0.2s ease;
}

.navButton svg {
  margin: -5px 0.3rem;
}

.navButton:hover,
.navButton:focus,
.navButton:active {
  color: #1b1c1e;
  border-color: #1b1c1e;
  background-color: rgba(255, 218, 85, 0.512);
}

.navButton h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.navButton p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.splashTitle {
  opacity: 0;
  font-size: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  animation: 1s ease 0.3s 1 forwards fadeinSplash;
}

.splashDescription {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  animation: 2s ease 1s 1 forwards fadeinSplash;
}

@keyframes fadeinSplash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projectContainer {
  display: flex;
  flex-direction: row;
  width: 85vw;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 1rem;
  padding: 2%;
  border-radius: 25px 0px 0px 25px;
  transition: color 0.2s ease, padding 0.5s ease;
  background: linear-gradient(to right, rgb(42, 39, 39) 60%, transparent);
}

.projectContainer:hover {
  color:rgb(250, 215, 159);
  padding: 4%;
}

.projectRight, .projectLeft {
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 2%;
}

.projectLeft {
  height: 100%;
  justify-content: space-between;
}

.aboutMeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
  background-color: white;
}

.aboutMeLeft, .aboutMeRight {
  width: 50%;
  height: 100%;
}

.aboutMeLeft img {
  margin-bottom: -5px;
  height: 100%;
  width: 100%;
}

.aboutMeRight {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 5%;
  line-height: 1.5rem;
}

.aboutMeRight svg {
  margin: 10px 0px;
}

.aboutMeLinks {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px 0px 0px;
}

.aboutMeLinks * {
  width: 100%;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills > img {
  width: 24%;
  padding: 2%;
}

@media (max-width: 785px) {
  .aboutMeContainer {
    flex-direction: column;
  }
  .aboutMeLeft, .aboutMeRight {
    width: 100%;
  }
  .aboutMeRight {
    padding: 5% 6%;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: fit-content;
  }
  .skills {
    width: 80%;
  }
  .skills > img {
    width: 20%;
    padding: 2%;
  }
}

@media (max-width: 628px) {
  .projectContainer {
    flex-direction: column;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.3rem 1rem;
    padding: 3% 5%;
    border-radius: 20px 20px 0px 0px;
    transition: color 0.2s ease, padding 0.5s ease;
    background: linear-gradient(rgb(42, 39, 39) 60%, transparent);
  }
  
  .projectContainer:hover {
    color:rgb(250, 215, 159);
    padding: 7%;
  }
  
  .projectRight, .projectLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}