.nav {
    z-index: 999;
    position: fixed;
    top: -100px;
    width: 100vw;
    height: 100px;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: top 0.3s;
}

.main {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: green;
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    .main {
        height: 100%;
        width: 100%;
    }

    .nav {
        height: 80px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .nav > div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav > div > * {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }

    .nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        width: 80px;
        height: 80px;
    }
}